

body {
    background-color: #F0F0F0;
    height: 100%;
    font-family: 'Anton', sans-serif;
}

                    /*EXTRA SMALL SCREEN DISPLAY*/
.design-xs {
    width: 200px;
    height: 200px;
    border: 1em solid #E6E6E6;
    background-color: #e6563b;
    margin-left: -100px;
}

.design-xs a {
    display: flex;
    justify-content: center;
    padding-top: 1.3em;
    color: white;
    font-size: 42px;
}

.support-xs {
    width: 200px;
    height: 200px;
    margin-top: 1em;
    border: 1em solid #E6E6E6;
    background-color:#7CB06C;
    margin-left: -100px;
}
.support-xs a {
    display: flex;
    justify-content: center;
    padding-top: 1.3em;
    color: white;
    font-size: 42px;

}

.develop-xs {
    width: 200px;
    height: 200px;
    border: 1em solid #E6E6E6;
    background-color: #DEA03D;
}
.develop-xs a {
    display: flex;
    justify-content: center;
    padding-top: 1.3em;
    color: white;
    font-size: 42px;

}
.host-xs {
    width: 200px;
    height: 200px;
    border: 1em solid #E6E6E6;
    background-color: #00ABA9;
    margin-top: 1em;
}
.host-xs a{
    display: flex;
    justify-content: center;
    padding-top: 1.3em;
    color: white;
    font-size: 42px
}

.visual-xs a{
    font-size: 64px;

}



.park-xs {
    margin-top: 4em;
}

.park-xs a {
    font-size: 48px;
}
.work-xs a {
    margin-top: 14em;
    font-size: 22px;
    font-family: 'Abel', sans-serif;
}


.apple-ipad-xs img {
    height: 105px;
    width: 105px;
}



.apple-ipad-xs img {
    border: 1em solid #E6E6E6;
    opacity: 2;
    height: 300px;
    width: 400px;
}

.feature-xs {
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    padding-top: .5em;
    padding-left: 20px;
}

.icons-xs {
    /*margin-top: 2em;*/
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: 18px;
    width: 18px;
    padding-left: 100px;

}
/*<!--CoNTROLS THE LETTERS AS A GROUp*/
.icons-xs a {
    padding-top: 0;
}


.orange-xs {
    width: 18px;
    height: 18px;
    background-color: #e6563b;
    margin-right: 1em;
}
 .orange-xs a {
     display: flex;
     justify-content: center;
     color: black;
     font-size: 12px;
 }

 .yellow-xs {
     width: 18px;
     height: 18px;
     background-color: #DEA03D;
     margin-right: 1em;
 }

.yellow-xs a {
    display: flex;
    justify-content: center;
    /*padding-top: 2.5em;*/
    color: black;
    font-size: 12px;
}
 .green-xs {
     width: 18px;
     height: 18px;
     background-color:#7CB06C;
     margin-right: 1em;
 }
 .green-xs a{
     display: flex;
     justify-content: center;
     /*padding-top: 2.5em;*/
     color: black;
     font-size: 12px;
 }
 .blue-xs {
     width: 18px;
     height: 18px;
     background-color: #00ABA9;
     margin-right: 4em;
 }
  .blue-xs a {
      display: flex;
      justify-content: center;
      color: black;
      font-size: 12px;
  }


            /*SMALL SCREEN DISPLAY */

.visual-sm a{
    font-size: 50px;
    margin: 0;
    display: flex;
    padding: 0;
    justify-content: center;
}

.city-small {
    font-size: x-large;
    margin-bottom: 2em;
}

.design-sm {
    width: 100px;
    height: 100px;
    /*margin-top: 1em;*/
    border: .5em solid #E6E6E6;
    background-color:#e6563b;
}

.design-sm a {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.support-sm {
    width: 100px;
    height: 100px;
    /*margin-top: 1em;*/
    border: .5em solid #E6E6E6;
    background-color:#7CB06C;
}

.support-sm a {
    display: flex;
    justify-content: center;
    padding-top: 30px;

}

.develop-sm {
    width: 100px;
    height: 100px;
    border: .5em solid #E6E6E6;
    background-color: #DEA03D;
}

.develop-sm a {
    display: flex;
    justify-content: center;
    padding-top: 30px;

}

.host-sm {
    width: 100px;
    height: 100px;
    border: .5em solid #E6E6E6;
    background-color: #00ABA9;
}

.host-sm a{
    display: flex;
    justify-content: center;
    padding-top: 30px;

}

.apple-ipad-sm img {
    width: 100%;
    max-width: 600px;
}
.apple-ipad-sm a {
    display: flex;
    padding-left: 5px;
    padding-bottom: 2px;
}
.ipad-icons {
    display: flex;
    padding-top: 0;
    justify-content: space-between;

}
.ipad-icons a { /* letters only*/
    display:flex;

}
.ipad-icons p {

}


.macbook-sm img{
    width:100%;
    max-width:600px;
}
.macbook {
    margin-top: 1em;
}
.mac-icons-sm a {
    display: flex;
    padding-left: 5px;
    padding-bottom: 2px;
}
.mac-icons-sm {
    display: flex;
    padding-top: 0;
    justify-content: space-between;

}
.mac-icons-sm a { /* letters only*/
    display:flex;

}

.man-sm img {
    width:100%;
    max-width:600px;
}
.man-sm {
    margin-top: 1em;
}
.man-icons-sm a {
    display: flex;
    padding-left: 5px;
    padding-bottom: 2px;
}
.man-icons-sm {
    display: flex;
    padding-top: 0;
    justify-content: space-between;

}
.man-icons-sm a { /* letters only*/
    display:flex;

}


.security-sm img {
    width:100%;
    max-width:600px;
    height: 200px;
}
.security-sm {
    margin-bottom: 2em;
    margin-top: 1em;
}
.security-icons-sm a {
    display: flex;
    padding-left: 5px;
    padding-bottom: 2px;
}
.security-icons-sm {
    display: flex;
    padding-top: 0;
    justify-content: space-between;

}
.security-icons-sm a { /* letters only*/
    display:flex;

}

.orange-sm {
    width: 18px;
    height: 18px;
    background-color: #e6563b;
}

.orange-sm a {
    display: flex;
    align-items: center;
    color: white;

}

.yellow-sm {
    width: 18px;
    height: 18px;
    background-color: #DEA03D;
}

.yellow-sm a {
    display: flex;
    align-items: center;
    color: white;
}

.green-sm {
    width: 18px;
    height: 18px;
    background-color:#7CB06C;
}

.green-sm a {
    display: flex;
    align-items: center;
    color: white;
}

.blue-sm {
    width: 18px;
    height: 18px;
    background-color: #00ABA9;
}

.blue-sm a {
    display: flex;
    align-items: center;
    color: white;
    /*end of small display*/
}

/*medium SCREEN DISPLAY */

.visual-sm a{
    font-size: 50px;
    margin: 0;
    display: flex;
    padding: 0;
    justify-content: center;
}

.city-small {
    font-size: x-large;
    margin-bottom: 2em;
}

.design-sm {
    width: 100px;
    height: 100px;
    /*margin-top: 1em;*/
    border: .5em solid #E6E6E6;
    background-color:#e6563b;
}

.design-sm a {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.support-sm {
    width: 100px;
    height: 100px;
    /*margin-top: 1em;*/
    border: .5em solid #E6E6E6;
    background-color:#7CB06C;
}

.support-sm a {
    display: flex;
    justify-content: center;
    padding-top: 30px;

}

.develop-sm {
    width: 100px;
    height: 100px;
    border: .5em solid #E6E6E6;
    background-color: #DEA03D;
}

.develop-sm a {
    display: flex;
    justify-content: center;
    padding-top: 30px;

}

.host-sm {
    width: 100px;
    height: 100px;
    border: .5em solid #E6E6E6;
    background-color: #00ABA9;
}

.host-sm a{
    display: flex;
    justify-content: center;
    padding-top: 30px;

}

.apple-ipad-sm img {
    width: 100%;
    max-width: 600px;
}
.apple-ipad-sm a {
    display: flex;
    padding-left: 5px;
    padding-bottom: 2px;
}
.ipad-icons {
    display: flex;
    padding-top: 0;
    justify-content: space-between;

}
.ipad-icons a { /* letters only*/
    display:flex;

}
.ipad-icons p {

}


.macbook-sm img{
    width:100%;
    max-width:600px;
}
.macbook {
    margin-top: 1em;
}
.mac-icons-sm a {
    display: flex;
    padding-left: 5px;
    padding-bottom: 2px;
}
.mac-icons-sm {
    display: flex;
    padding-top: 0;
    justify-content: space-between;

}
.mac-icons-sm a { /* letters only*/
    display:flex;

}

.man-sm img {
    width:100%;
    max-width:600px;
}
.man-sm {
    margin-top: 1em;
}
.man-icons-sm a {
    display: flex;
    padding-left: 5px;
    padding-bottom: 2px;
}
.man-icons-sm {
    display: flex;
    padding-top: 0;
    justify-content: space-between;

}
.man-icons-sm a { /* letters only*/
    display:flex;

}


.security-sm img {
    width:100%;
    max-width:600px;
    height: 200px;
}
.security-sm {
    margin-bottom: 2em;
    margin-top: 1em;
}
.security-icons-sm a {
    display: flex;
    padding-left: 5px;
    padding-bottom: 2px;
}
.security-icons-sm {
    display: flex;
    padding-top: 0;
    justify-content: space-between;

}
.security-icons-sm a { /* letters only*/
    display:flex;

}

.orange-sm {
    width: 18px;
    height: 18px;
    background-color: #e6563b;
}

.orange-sm a {
    display: flex;
    align-items: center;
    color: white;

}

.yellow-sm {
    width: 18px;
    height: 18px;
    background-color: #DEA03D;
}

.yellow-sm a {
    display: flex;
    align-items: center;
    color: white;
}

.green-sm {
    width: 18px;
    height: 18px;
    background-color:#7CB06C;
}

.green-sm a {
    display: flex;
    align-items: center;
    color: white;
}

.blue-sm {
    width: 18px;
    height: 18px;
    background-color: #00ABA9;
}

.blue-sm a {
    display: flex;
    align-items: center;
    color: white;
}
/*begining of medium */
.apple-ipad-md img {
    width: 175px;
    height: 175px;
}
.apple-ipad-md {

}
.orange-md {
    width: 18px;
    height: 18px;
    background-color: #e6563b;
}

.orange-md a {
    display: flex;
    align-items: center;
    color: white;
}
.yellow-md {
    width: 18px;
    height: 18px;
    background-color: #DEA03D;
}

.yellow-md a {
    display: flex;
    align-items: center;
    color: white;
}
.green-md {
    width: 18px;
    height: 18px;
    background-color: #7CB06C;
}

.green-md a {
    display: flex;
    align-items: center;
    color: white;
}
.blue-md {
    width: 18px;
    height: 18px;
    background-color: #00ABA9;
}

.blue-md a {
    display: flex;
    align-items: center;
    color: white;
}
