

body {
    background-color: #F0F0F0;
    height: 100%;
    font-family: 'Anton', sans-serif;
}

.design {
    width: 100px;
    height: 100px;
    background-color: #e6563b;


}

.design a {
    display: flex;
    justify-content: center;
    padding-top: 2.5em;
    color: white;
}

.support {
    width: 100px;
    height: 100px;
    background-color:#7CB06C;
}
.support a {
    display: flex;
    justify-content: center;
    padding-top: 2.5em;
    color: white;
}

.develop {
    width: 100px;
    height: 100px;
    background-color: #DEA03D;
}
.develop a {
    display: flex;
    justify-content: center;
    padding-top: 2.5em;
    color: white;
}
.host {
    width: 100px;
    height: 100px;
    background-color: #00ABA9;
}
.host a{
    display: flex;
    justify-content: center;
    padding-top: 2.5em;
    color: white;
}

.visual a{
    font-size: 64px;
}

/*.visual {*/
/*    margin-top: 5em;*/
/*}*/

.park {
    margin-top: 4em;
}

.park a {
    font-size: 48px;
}
.work a {
    margin-top: 14em;
    font-size: 28px;
    font-family: 'Abel', sans-serif;
}


img {
    /*margin-top: 2em;*/
    height: 105px;
    width: 105px;
}

/*.apple-ipad {*/
/*    margin-top: 2vh;*/
/*}*/

.apple-ipad img {
    border: 1em solid #E6E6E6;
    opacity: 2;
    height: 300px;
    width: 400px;
}

.xs-feature {
    font-family: 'Abel', sans-serif;
    font-size: 28px;
    /*margin-top: .5em;*/
}

.icons {
    /*margin-top: 2em;*/
    display: flex;
    flex-direction: column;
    margin-right: 7.5em;
    margin-top: 1em;
    height: 18px;
    width: 18px;
}

.icons a {
    /*margin-right: 2em;*/
}


.orange {
    width: 18px;
    height: 18px;
    background-color: #e6563b;
    margin-right: 1em;
}
 .orange a {
     display: flex;
     justify-content: center;
     color: white;

 }

 .yellow {
     width: 18px;
     height: 18px;
     background-color: #DEA03D;
     margin-right: 1em;
 }

.yellow a {
    display: flex;
    justify-content: center;
    /*padding-top: 2.5em;*/
    color: white;
}
 .green {
     width: 18px;
     height: 18px;
     background-color:#7CB06C;
     margin-right: 1em;
 }
 .green a{
     display: flex;
     justify-content: center;
     /*padding-top: 2.5em;*/
     color: white;
 }
 .blue {
     width: 18px;
     height: 18px;
     background-color: #00ABA9;
     margin-right: 4em;
 }
  .blue a {
      display: flex;
      justify-content: center;
      color: white;
  }
